@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot") format('embedded-opentype'), url("../fonts/icomoon.ttf") format('truetype'), url("../fonts/icomoon.woff") format('woff'), url("../fonts/icomoon.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
/* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-Add:before {
  content: "\e900";
}
.icon-Base:before {
  content: "\e901";
}
.icon-Catalog:before {
  content: "\e902";
}
.icon-Information:before {
  content: "\e903";
}
.icon-Knowledge:before {
  content: "\e904";
}
.icon-Message:before {
  content: "\e905";
}
.icon-My_pages:before {
  content: "\e906";
}
.icon-Mypage:before {
  content: "\e907";
}
.icon-Mytasks:before {
  content: "\e908";
}
.icon-Operator:before {
  content: "\e909";
}
.icon-questions:before {
  content: "\e90a";
}
.icon-Search:before {
  content: "\e90b";
}
.icon-Settings:before {
  content: "\e90c";
}
.icon-stack-of-books-and-magnifier:before {
  content: "\e90d";
}
.icon-technology-call:before {
  content: "\e90e";
}
.icon-tool:before {
  content: "\e90f";
}
.icon-Workplace:before {
  content: "\e910";
}
body {
  font-family: 'Open Sans';
}
a:hover {
  text-decoration: none;
}
.bold {
  font-weight: 600;
}
.fz14 {
  font-size: 14px !important;
}
.fz10 {
  font-size: 10px !important;
}
.fz30 {
  font-size: 30px !important;
}
.fz36 {
  font-size: 36px !important;
}
.fz20 {
  font-size: 20px !important;
}
.boldfont {
  font-family: boldfont;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.p60 {
  padding: 60px;
}
.tal {
  text-align: left !important;
}
.dib {
  display: inline-block;
}
.w100per {
  width: 100%;
}
@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icomoon.eot?u78ibn");
  src: url("/fonts/icomoon.eot?u78ibn#iefix") format('embedded-opentype'), url("/fonts/icomoon.ttf?u78ibn") format('truetype'), url("/fonts/icomoon.woff?u78ibn") format('woff'), url("/fonts/icomoon.svg?u78ibn#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
/* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-radio:before {
  content: "\e03e";
}
.icon-recent_actors:before {
  content: "\e03f";
}
.icon-repeat:before {
  content: "\e040";
}
.icon-laptop:before {
  content: "\e001";
}
.icon-briefcase:before {
  content: "\e015";
}
.icon-wallet:before {
  content: "\e016";
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
img,
video,
iframe {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
  display: block;
}
.main-cont {
  *zoom: 1;
  width: auto;
  max-width: 1280px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  height: 100%;
}
.main-cont:before,
.main-cont:after {
  content: '';
  display: table;
}
.main-cont:after {
  clear: both;
}
body,
html {
  height: 100%;
}
body {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 300;
}
.main-left {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 20%;
  margin-left: 0%;
  margin-right: 0%;
  background: #007ebe;
  height: 100%;
}
.main-left:before,
.main-left:after {
  content: '';
  display: table;
}
.main-left:after {
  clear: both;
}
.main-right {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 80%;
  margin-left: 0%;
  margin-right: 0%;
}
.main-right:before,
.main-right:after {
  content: '';
  display: table;
}
.main-right:after {
  clear: both;
}
.left-logo {
  padding-left: 30px;
  height: 75px;
  border-bottom: 3px solid #004f8a;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  background: #005fa3;
}
.left-logo span {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  line-height: 24px;
}
.main-right-head {
  display: flex;
  height: 75px;
}
.main-right-head-input {
  flex-grow: 6;
  position: relative;
}
.main-right-head-input input {
  height: 75px;
  border: 0px;
  border-bottom: 3px solid #004f8a;
  border-top: 1px solid #d1d1d1;
  width: 100%;
}
.main-right-head-input .icon-Search {
  position: absolute;
  font-size: 38px;
  color: #007ebe;
  right: 20px;
  top: 20px;
}
.main-right-head-add {
  height: 100%;
  border: 1px solid #d1d1d1;
  border-right: 0;
  flex-grow: 1;
  background: #e5e9ed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: #007ebe;
}
.main-right-head-message {
  height: 100%;
  border: 1px solid #d1d1d1;
  border-right: 0;
  flex-grow: 1;
  background: #e5e9ed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: #007ebe;
}
.main-right-head-name {
  border: 1px solid #d1d1d1;
  flex-grow: 4;
  background: #e5e9ed;
}
.icon-Message {
  position: relative;
}
.icon-Message .main-right-head-message-val {
  font-size: 14px;
  position: absolute;
  right: -15px;
  top: 5px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #d13f19;
  color: #fff;
  text-align: center;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
}
