<!DOCTYPE html>
html(lang="en")
	//Include header
	include ./block_html/head.jade
body
	.main-cont
		.main-left
			.left-logo 
				span ITESM
		.main-right
			.main-right-head
				.main-right-head-input
					input(type="text")
					.icon-Search
				.main-right-head-add
					.icon-Add
				.main-right-head-message
					.icon-Message
						.main-right-head-message-val 15
				.main-right-head-name

	//Include Footer
	include ./block_html/script.jade