<!DOCTYPE html>
html(lang="en")
	//Include header
	include ./block_html/head.jade
body
	.main-cont
		include ./block_html/left-part.jade
		
		.main-right
			//Top menu
			include ./block_html/top-menu.jade
			
			//Tabs
			.main-right-top-tabs
				.main-right-top-tabs-el.main-right-top-tabs-el-active(data-tabs='Portal')
					span Портал
				.main-right-top-tabs-el(data-tabs='Incident')#incident
					span Инциденты
				.main-right-top-tabs-el(data-tabs='Portal')
					span Запросы 
				.main-right-top-tabs-el(data-tabs='Portal')
					span Изменения
				.main-right-top-tabs-el(data-tabs='Portal')
					span Согласования!
			//Main-content
			.main-right-content
				include ./block_html/tab-portal.jade
				.tabs-wraper(data-tabswrap="Incident")
					.incident-top
						.row-button
							.button-el.icon-Add
							.button-el.icon-Edit
							.button-el.icon-Delete
							.button-el.icon-Filter.button-el-active

						select.nice-select#incident-load
							option(data-display="Выгрузить")
							option(value="1") Москва
							option(value="2") Волгоград
							option(value="2") Уфа

						select#incident-action
							option(data-display="Некоторое групповое действие")
							option(value="1") Магадан
							option(value="2") Улан-уде
							option(value="2") Кастрома

						.button-el.icon-PanelOfPerfomance.button-el-active

					.incedent-hide-tools
						.incedent-hide-tools-view
							.incedent-hide-tools-select
								text Для просмотра и представления выберите прадставление из выпадающего списка:
								select#incident-hide-tools
									option(data-display="Некоторое представление")
									option(value="1") Магадан
									option(value="2") Улан-уде
									option(value="2") Кастрома
							.incedent-hide-tools-but
								.button-el.icon-EditPerfomance
								.button-el.icon-square
						.incedent-hide-tools-edit.hidden
							i.fa.fa-times
							.incedent-hide-tools-edit-title
								a(href="#")
									i.fa.fa-angle-left
								span Панель представлений /
								a(href="#") Режим редактирования
							.incedent-hide-tools-edit-cont
								.row-button
									.button-el.icon-GeneralSettings
									.button-el.icon-SettingsOfFilters
									.button-el.icon-Format
									.button-el.icon-circle
								a(href="#").incedent-hide-tools-edit-save 
									span Сохранить
								select#incident-hide-edit
									option(data-display="Сохранить как")
									option(value="1") Магадан
									option(value="2") Улан-уде
									option(value="2") Кастрома
					table.table-incident
						thead
							tr
								th Событие
								th Статус
								th Приорите 
								th Пользователь
								th Ответсвенный
								th Дата создания
								th Дата решения
								th Потраченное время
						tbody
							- for (var a = 0; a < 4; a++)
								tr
									td
										.table-incident-first-td 
											div 
												input(type="checkbox")
											span Lorem ipsum dolor sit.
									td  Lorem ipsum dolor sit.
									td  Lorem ipsum dolor sit.
									td  Lorem ipsum dolor sit.
									td  Lorem ipsum dolor sit.
									td  Lorem ipsum dolor sit.
									td  Lorem ipsum dolor sit.
									td  
										.chart(data-percent="73") 
											span 73%

	//Include Footer
	include ./block_html/script.jade