<!DOCTYPE html>
html(lang="en")
	//Include header
	include ./block_html/head.jade
body
	.main-cont
		include ./block_html/left-part.jade
		
		.main-right
			//Top menu
			include ./block_html/top-menu.jade
			
			//Tabs
			.main-right-top-tabs
				.main-right-top-tabs-el.main-right-top-tabs-el-active(data-tabs='Portal')
					span Портал
				.main-right-top-tabs-el(data-tabs='Incident')#incident
					span Инциденты
				.main-right-top-tabs-el(data-tabs='Portal')
					span Запросы 
				.main-right-top-tabs-el(data-tabs='Portal')
					span Изменения
				.main-right-top-tabs-el(data-tabs='Portal')
					span Согласования!
			//Main-content
			.main-right-content
				include ./block_html/tab-portal.jade
				
				.tabs-wraper(data-tabswrap="Incident")

					include ./block_html/incident-top.jade

					table.table-incident
						thead
							tr
								th Событие
								th Статус
								th Приорите 
								th Пользователь
								th Ответсвенный
								th Дата создания
								th Дата решения
								th Потраченное время
						tbody
							- for (var a = 0; a < 4; a++)
								tr
									td
										.table-incident-first-td 
											div 
												input(type="checkbox")
											span Lorem ipsum dolor sit.
									td  Lorem ipsum dolor sit.
									td  Lorem ipsum dolor sit.
									td  Lorem ipsum dolor sit.
									td  Lorem ipsum dolor sit.
									td  Lorem ipsum dolor sit.
									td  Lorem ipsum dolor sit.
									td  
										.chart(data-percent="73") 
											span 73%
	//Modal
	.incident-modal
		i.fa.fa-times.incident-modal-close
		//Modal-header
		.incident-modal-head
			.incident-modal-title Режим создания представления
			.row-button
				.button-el.icon-GeneralSettings.button-el-active(data-modal-tab='one')
				.button-el.icon-SettingsOfFilters(data-modal-tab='two')
				.button-el.icon-Format(data-modal-tab='three')
				.button-el.icon-circle(data-modal-tab='four')
				a(href="#").big-btn-green(data-modal-tab='five')
					span Сохранить
				select.custom-select
					option(data-display="Сохранить как")
					option(value="1") Магадан
					option(value="2") Улан-уде
					option(value="2") Кастрома
		//Modal-wraper-one
		.incident-modal-wraper.incident-modal-settings(data-modal-wraper='one')
			.incident-modal-content
				.incident-modal-breadcrumbs
					a(href="#") Настройки прав
				.input-row
					label Наименовение представления:
					input(type="text")
				.input-row
					label Список доступных свойств:
				.incident-modal-settings-prop
						.incident-modal-settings-prop-el
							- for (var a = 0; a <20 ; a++)
								.incident-modal-settings-prop-row
									span Услуга
									span +
						.incident-modal-settings-prop-el
							- for (var a = 0; a <20 ; a++)
								.incident-modal-settings-prop-row
									span Услуга
									span -
			.incident-modal-footer
				a(href="#").big-btn-green 
						span Сохранить
				a(href="#").big-btn-default 
						span Отменить

		//Modal-wraper-three
		.incident-modal-wraper.incident-modal-sort.hidden(data-modal-wraper='three')
			.incident-modal-content
				.incident-modal-breadcrumbs
					a(href="#") Настройки Сортировки
				.input-row
					a(href="#").add-button + Добавить

				- for (var a = 0; a <2 ; a++)
					.incident-modal-sort-el
						.incident-modal-sort-el-title Уровень 1
						.incident-modal-sort-el-wraper
							i.fa.fa-times
							.input-row
								label Свойства:
								select.custom-select
									option(data-display="Значение")
									option(value="1") Магадан
									option(value="2") Улан-уде
									option(value="2") Кастрома
							.input-row
								label Тип:
								select.custom-select
									option(data-display="Значение")
									option(value="1") Магадан
									option(value="2") Улан-уде
									option(value="2") Кастрома

			.incident-modal-footer
				a(href="#").big-btn-green 
						span Сохранить
				a(href="#").big-btn-default 
						span Отменить
	//Include Footer
	include ./block_html/script.jade