.main-right-head
	.main-right-head-input
		input(type="text")
		.icon-Search
	.main-right-head-add
		.icon-Add
	.main-right-head-message
		.icon-Message
			.main-right-head-message-val 15
	.main-right-head-name
		.main-right-head-name-inic 
			span ИИ
		.main-right-head-name-text Иванов Иван Иванович